<%= form_for :session, url: session_path do |form| %>
  <div class="text-field form-group">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email', class: "form-control" %>
  </div>

  <div class="password-field form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="submit-field">
    <%= form.submit class: "btn btn-success" %>
  </div>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path, class: "btn btn-danger" %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path, class: "btn btn-warning" %>
  </div>
<% end %>