<div class="jumbotron text-center" id="notice_index">
  <h1>All Notices</h1><br><br><br><br> 
</div><br>


<table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Notice</th>
      <th>Created At</th>
      <th>Edit</th>
      <th>Delete</th>


      <% @notices.each do |notice| %>

      <tr>
        <td><%= notice.title %></td>
        <td><%= notice.body %></td>
        <td><%= notice.created_at %></td>
        <td><%= link_to 'Edit', edit_notice_path(notice) %> </td>
        <td><%= link_to 'Delete', notice_path(notice),
             method: :delete,
             data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </table>

<hr>
<%= link_to 'New Notice', new_notice_path(current_user), class: "btn btn-primary" %>
