
<div class="jumbotron text-center" id="listings_index">
  <h1>Marketplace</h1><br><br><br><br>
</div><br>



<div class="row">
  <div class="col-md-12">
    <span class="text-center"><%= link_to "Create new listing", new_listing_path, class: "btn btn-success btn-block"  %></span>
  </div>
</div>

<div class="row">
  <div class="search">
    <div class="col-md-12">
      <h2 class="text-center"><b>Search here</b></h2>
    </div>

    <div class="col-md-12">
        <%= form_tag("/search", method: "get", class: 'form-inline') do %>
          <div class="col-md-3">
            <div class="form-group">
              <%= label_tag :listing_type_id %>
              <%= select_tag :listing_type_id, options_for_select(@listing_types), class: 'form-control', include_blank: true %>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <%= label_tag :min_price %>
              <%= number_field_tag :min_price, class: 'form-control' %>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <%= label_tag :max_price %>
              <%= number_field_tag :max_price, class: 'form-control' %>
            </div>
          </div>

          <div class="col-md-3">
            <%= submit_tag "Search", class: "btn btn-info btn-block" %>
          </div>
        <% end %>
    </div>
  </div>
</div>

<% @listings.each do |listing| %>
  <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 listing-item">
    <%= link_to listing_path(listing) do %>
      <% if listing.listing_type.name == 'Carpark' %>
        <%= image_tag "carpark.jpg", class: "img-responsive" %>
      <% elsif listing.listing_type.name == 'Food' %>
        <%= image_tag "food.jpg", class: "img-responsive" %>
      <% elsif listing.listing_type.name == 'Furniture' %>
        <%= image_tag "furniture.png", class: "img-responsive" %>
      <% end %>
      <!-- <img src="images/work_1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive"> -->
      <h3 class="fh5co-work-title"><%= listing.text %></h3>

    <% end %>
    <p>Category: <%= listing.listing_type.name %> <%= link_to "Buy Now", new_listing_reservation_path(listing), class: 'pull-right btn btn-warning' %></p>
  </div>
<% end %>