<div class="media">
  <div class="media-left">
    <%= link_to user_path(conversation.originator) do %>
      <% if conversation.originator.photo.file.nil? %>
        <%= image_tag("avatar_placeholder.png", size: '64x64', class: 'media-object')%>
      <% else %>
      <%= image_tag(conversation.originator.photo.url.to_s, size: "64x64", class: "media-object") %>
      <% end %>
    <% end %>
      <!-- user avators can go here -->
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= conversation.originator.email %> <br> <!-- change to originator.name in future -->
      <small><b>Subject: </b><%= conversation.subject %></small><br>
      <small><b>Date: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
    </h4>
    <%= truncate conversation.messages.last.body, length: 145 %>
    <%= link_to "View", conversation_path(conversation)  %>
  </div>
</div>