<% @receipts.each do |receipt| %>
  <% message = receipt.message %>
  <div class="media">
    <div class="media-left">
      <%= link_to user_path(message.sender) do %>
        <% if message.sender.photo.file.nil? %>
          <%= image_tag("avatar_placeholder.png", size: '64x64', class: 'media-object')%>
        <% else %>
          <%= image_tag(message.sender.photo.url.to_s, size: "64x64", class: "media-object") %>
        <% end %>
      <% end %>
      <!-- user avators can go here -->
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <%= message.sender.name %> <br> <!-- change to message.sender.name in future -->
        <small><b>Subject: </b><%= message.subject %></small><br>
        <small><b>Date: </b><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
      </h4>
      <%= message.body %>
    </div>
  </div>
<% end %>