<div id="topic_content">

  <div id="topic_head">
    <h2><%= @topic.name %></h2><br>
    <h5><%= @topic.content %></h5><br>
    <div class="text-primary"><small>
      <span class="glyphicon glyphicon-comment"></span><%= pluralize(@topic.comments.count, "comment") %><br>
      Posted by: <%= @topic.user.name %>
      <%= time_ago_in_words(@topic.created_at) %> ago</small>
    </div>


  </div><hr>


  <div id="comments">

    <% @topic.comments.each do |comment| %>

    <div class="row">

      <div class="col-sm-8"><h5><%= comment.comment %></h5> </div>

      <div class="col-sm-4"> <p class="text-muted"><small>

        by <%= comment.user.name %><br>
        <%= time_ago_in_words(comment.updated_at) %> ago</small></p></div>

    </div><hr>
    <% end %>
  </div>


  <%= render "comments/form" %>


  <p><%= link_to "Edit topic", edit_topic_path(@topic) %></p>
  <p><%= link_to "Delete topic", topic_path(@topic), method: :delete, data: { confirm: "Are you sure you want to do this?" } %></p>



</div>
