<div id="topic_content">

  <div class="bg-info">
    <h2><%= @topic.name %></h2>
    <h5><%= @topic.content %></h5>
    <div class="text-primary"><small>
      <span class="glyphicon glyphicon-comment"></span><%= pluralize(@topic.comments.count, "comment") %><br>
      by <%= @topic.user.name %>
      <%= time_ago_in_words(@topic.created_at) %> ago</small>
    </div>
  </div><hr>

  <div id="comments">

    <% @topic.comments.each do |comment| %>
      <h5><%= comment.comment %></h5>
      <p class="text-primary"><small>
        by <%= comment.user.name %><br>
        <%= time_ago_in_words(comment.updated_at) %> ago</small></p>

      <% if current_user == comment.user %>
        <%= link_to "Edit comment", edit_topic_comment_path(@topic, comment) %>
        <%= link_to "Delete comment", topic_comment_path(@topic, comment), method: :delete %>
      <% end %>
    <% end %> <hr>

    <h5>Add Comment</h5>
    <%= render "comments/form" %>
  </div>
  <p><%= link_to "Edit topic", edit_topic_path(@topic) %></p>
  <p><%= link_to "Delete topic", topic_path(@topic), method: :delete, data: { confirm: "Are you sure you want to do this?" } %></p>
</div>
