<div class="row">
  <div class="col-md-1">
    <%= link_to "Back", topics_path, class: "btn btn-default" %>
  </div>
  <div class="col-md-offset-9 col-md-2">
    <%= link_to 'Edit', edit_topic_path(@topic), class: "btn btn-primary" %>
    <%= link_to 'Delete', topic_path(@topic), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <div class="col-md-12">
    <h2><%= @topic.name %></h2>
  </div>
</div>

<div id="topic_content">

  <div id="topic_head">
    <h5><%= simple_format(@topic.content) %></h5><br>
    <div class="text-primary"><small>
      <span class="glyphicon glyphicon-comment"></span> <%= pluralize(@topic.comments.count, "comment") %><br>
      Posted by: <%= @topic.user.name %>
      <%= time_ago_in_words(@topic.created_at) %> ago</small>
    </div>


  </div><hr>


  <div id="comments">


    <% @topic.comments.each do |comment| %>

    <div class="row">

      <div class="col-sm-8"><h5><%= comment.comment %></h5> </div>

      <div class="col-sm-4 text-right"> <p class="text-muted"><small>

        by <%= comment.user.name %><br>
        <%= time_ago_in_words(comment.updated_at) %> ago</small></p></div>

    </div><hr>
    <% end %>
  </div>


  <%= render "comments/form" %>

</div>
