<h1>Edit your profile</h1>
<%= form_for @user do |f| %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :resident_type %>
    <%= f.text_field :resident_type, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :role %>
    <%= f.select(:role, [['Resident', 'resident'], ['Administrator', 'administrator'], ['Super Admin', 'super_admin']]) %>
  </div>

  <div class="form-group">
    <% if @user.photo.file.nil? %>
      <b>Add your profile picture now</b>
      <%= f.file_field :photo %>
    <% else %>
      <%= image_tag(@user.photo.url, alt: "#{@user.name}'s Avatar", class: 'img-responsive') %><br>
      <label>
        <%= f.check_box :remove_photo %>
        Remove photo
      </label>
    <%= f.file_field :photo, class: 'form-group' %>
    <% end %>
  </div>

  <p><%= f.submit class: 'btn btn-warning' %></p>
<% end %>
