<div class="row" style="background-color: #e0e0d1">
  <div class="user-balance col-md-offset-9">
    <% if @user == current_user %>
      <% if Credit.find_by_user_id(current_user.id).nil? %>
        <p>Balance: RM 0.00
      <% else %>
        <p>RM <%= Credit.find_by_user_id(current_user.id).amount %>
      <% end %>
      <%= link_to "Add Deposit", deposit_path(current_user), class: "btn btn-success" %></p>
    <% end %>
  </div>
  <div class="col-md-12">
    <% if @user.photo.file.nil? %>
        <%= form_for @user do |f| %>
          <%= f.file_field :photo %>
          <%= f.submit "Upload" %>
        <% end %>
      <% else %>
        <%= image_tag(@user.photo.url.to_s, alt: "#{@user.email}'s Avatar", class: 'img-responsive center-block', id: "user-pic", size: "250x250") %><br>
      <% end %>
  </div>

  <div class="col-md-12 text-center">
    <p class="user-profile-name">
      <b><%= @user.name %></b>
      <% if @user == current_user %>
        <%= link_to "Edit Profile", edit_user_path, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Send message", new_private_message_path(@user), class: "btn btn-warning" %>
      <% end %>
    </p>
  </div>

  <div class="col-md-12 user-detail">
    <p><span class="glyphicon glyphicon-home"></span> <%= @user.resident_type %></p>
  </div>

  <div class="col-md-12 user-detail">
    <p><span class="glyphicon glyphicon-envelope"></span> <%= @user.email%></p>
  </div>

  <div class="col-md-12 user-detail">
    <p><span class="glyphicon glyphicon-time"></span> <%= @user.created_at.strftime("Joined in %b %Y") %></p>
  </div>
</div>