<div class="row" style="background-color: #d9d9d9">
  <div class="col-md-4">
    <% if @user.photo.nil? %>
      <%= form_for @user do |f| %>
        <%= f.file_field :photo %>
        <%= f.submit "Upload" %>
      <% end %>
    <% else %>
      <%= image_tag(@user.photo.url.to_s, alt: "#{@user.email}'s Avatar", class: 'img-responsive') %><br>
    <% end %>
  </div>

  <div class="col-md-8">
    <h2><%= @user.name %></h2>
     <% if @user == current_user %>
      <p><%= link_to "Edit Profile", edit_user_path %></p>
    <% end %>
    <p><span class="glyphicon glyphicon-envelope"></span> <%= @user.email%></p>
    <p><%= @user.created_at.strftime("Joined on %b %Y") %></p>
    <% if @user != current_user %>
      <p><%= link_to "Send message", new_private_message_path(@user) %></p>
    <% end %>
  </div>
</div>