<% if signed_in? %>
<div class="jumbotron text-center">
  <h1>CozyCo</h1>
  <p>Welcome to CozyCo, <%= current_user.name %></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Latest Notices</h4></div>
          <div class="panel-body">
            <% @notices.each do |notice| %>
              <b><span class="glyphicon glyphicon-pushpin"></span> <%= notice.title %> </b><br>
              <p> <%= notice.body %> </p>
              <%= link_to 'More details...', notice_path(notice) %><hr>
            <% end %>
            <%= link_to 'All Notices', notices_path %>
          </div>
      </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Upcoming Events</h4></div>
        <div class="panel-body">
          <% @events.each do |event| %>
          <b><%= event.title %></b><br>
          <p><%= event.body %><p>
          <p> <span class="glyphicon glyphicon-calendar"></span> <%= event.start_date.strftime("%m/%d/%Y")%>
              <span class="glyphicon glyphicon-user"></span> <%= event.event_attendees.where(attending: true).count %> </p>

                <%= link_to 'More details...', event_path(event) %><hr>
          <% end %>
          <%= link_to 'All Events', events_path %>
        </div>
    </div>
  </div>

  <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Condominium Forum</h4></div>
          <div class="panel-body">
            <%= link_to 'All Topics', topics_path %>
          </div>
      </div>
    </div>



<% else %>
<div class="jumbotron text-center">
  <h1>CozyCo</h1>
</div>
<% end %>
