<%= @listing.text %>
<%= @listing.listing_type.name %>
<%= @listing.price %>
<%= @listing.user.name %>

<h2>This will transfer RM <%= @listing.price %> from your credit account as deposit.</h2>

<%= form_for [@listing, @reservation] do |f| %>
  <%= f.label :date %>
  <%= f.date_field :date %>

  <%=f.submit  %>
<% end %>

